.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
products_clean.json
index/
*.jsonl
*.json
*.csv
*.tsv
*.log
*.log.*
*.log.*.*
*.log.*.*.*
.DS_Store
src/data/products_clean.json
src/index/df.json
src/index/doc_meta.jsonl
src/index/postings.jsonl
src/index/stats.json
frontend/README.md
.nvmrc